.env.sh
sb2bi-resources/files/dbdrivers/db2/db2jcc4.jar
sb2bi-resources/files/dbdrivers/mssql/mssql-jdbc-12.6.2.jre8.jar
sb2bi-resources/files/dbdrivers/oracle/ojdbc8-19.23.0.0.jar
sb2bi-resources/files/awssdk/*.jar
sb2bi-resources/files/awssdk/dynamicclasspath.cfg.in
inspect.json